@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-outline-variant;
  }

  body {
    @apply bg-surface text-on-surface;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Screen Reader Only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
